.singleDay {
  width: 100px;
  height: 130px;
  background-color: white;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.dayIcon {
  width: 20px;
  height: 20px;
  margin-left: 0px;
  color: #94d;
}