#container {
  width: 100%;
  text-align: center;
}

#left {
  float: left;
  width: 200px;
  height: 0px;
  background: #e96056;
}

.search-container {
  background-color: white;
  height: 100%;
  width: 100%;
  min-width: 300px;
  color: white;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 5px 5px #888888;  
}

.goButton {
 height: 40px;
}

.ownLocation {
  border-bottom-color: "red";
  border-bottom: 10px
}

#center {
  display: inline-block;
  margin: 0 auto;
  width: 71%;
  height: 100%;
  background: #e96056;
}

#right {
  float: right;
  width: 200px;
  height: 0px;
  background: #e96056;
}